flow.json
[{"id":"fe9a85d.dfa5d78","type":"tab","label":"Modbus Demo","disabled":false,"info":""},{"id":"103d60ae.a6239f","type":"ui_group","z":"","name":"Modbus Read/Write Demo","tab":"37d6abaa.f95e3c","disp":true,"width":"6","collapse":false},{"id":"37d6abaa.f95e3c","type":"ui_tab","z":"","name":"Get Value","icon":"dashboard"},{"id":"41a2d6f2.adfb08","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e3d96db4.d1b14","type":"modbus-client","z":"fe9a85d.dfa5d78","name":"Modbus Flex Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"20502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"a281967.92932e8","type":"ui_tab","z":"","name":"Time","icon":"dashboard"},{"id":"3f164493.86e514","type":"modbus-flex-server","z":"fe9a85d.dfa5d78","name":"","logEnabled":false,"serverAddress":"","serverPort":"20502","responseDelay":100,"unitId":1,"delayUnit":"ms","coilsBufferSize":20000,"registersBufferSize":20000,"minAddress":0,"splitAddress":10000,"funcGetCoil":"function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}","funcGetInputRegister":"function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcGetHoldingRegister":"function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcSetCoil":"function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}","funcSetRegister":"function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}","x":140,"y":60,"wires":[[],[],[]]},{"id":"78c88296.192a7c","type":"ui_template","z":"fe9a85d.dfa5d78","group":"103d60ae.a6239f","name":"","order":0,"width":0,"height":0,"format":"<div>Output 1 Value: <span ng-bind-html=\"msg.payload\"></span></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":260,"wires":[[]]},{"id":"e60927a3.b4d4c","type":"function","z":"fe9a85d.dfa5d78","name":"Convert Output 1","func":"//msg.payload = \"TEST DATA\";\nmsg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["78c88296.192a7c","25bf527.fa4442e"]]},{"id":"34b4c0aa.19c098","type":"inject","z":"fe9a85d.dfa5d78","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["76cb9b52.d1fff4","5b2d2a0c.863dc4","bc77ef90.910388"]]},{"id":"25bf527.fa4442e","type":"debug","z":"fe9a85d.dfa5d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":220,"wires":[]},{"id":"76cb9b52.d1fff4","type":"modbus-getter","z":"fe9a85d.dfa5d78","name":"","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"4","server":"e3d96db4.d1b14","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":360,"y":220,"wires":[["e60927a3.b4d4c","faf70c87.f4efe8"],["82292b84.172418","f0625e93.acf0a8"]]},{"id":"faf70c87.f4efe8","type":"modbus-response","z":"fe9a85d.dfa5d78","name":"","registerShowMax":20,"x":490,"y":140,"wires":[]},{"id":"8023fdf4.094cf","type":"modbus-write","z":"fe9a85d.dfa5d78","name":"","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"e3d96db4.d1b14","x":360,"y":380,"wires":[[],[]]},{"id":"bc77ef90.910388","type":"function","z":"fe9a85d.dfa5d78","name":"","func":"msg.payload = msg.payload % 100;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":380,"wires":[["8023fdf4.094cf"]]},{"id":"b886f590.240738","type":"ui_template","z":"fe9a85d.dfa5d78","group":"103d60ae.a6239f","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":60,"wires":[[]]},{"id":"5b2d2a0c.863dc4","type":"moment","z":"fe9a85d.dfa5d78","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":"8","adjType":"hours","adjDir":"add","format":"","locale":"POSIX","output":"","outputType":"msg","outTz":"Asia/Taipei","x":420,"y":60,"wires":[["b886f590.240738"]]},{"id":"7956a1d0.bc56c8","type":"ui_template","z":"fe9a85d.dfa5d78","group":"103d60ae.a6239f","name":"","order":0,"width":0,"height":0,"format":"<div>Output2 Value: <span ng-bind-html=\"msg.payload\"></span></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":380,"wires":[[]]},{"id":"2186d965.4e0156","type":"debug","z":"fe9a85d.dfa5d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":340,"wires":[]},{"id":"82292b84.172418","type":"function","z":"fe9a85d.dfa5d78","name":"Convert Output 2","func":"//msg.payload = \"TEST DATA\";\nmsg.payload = msg.payload.data[0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["7956a1d0.bc56c8","2186d965.4e0156","c3dc0e8c.2e88e8"]]},{"id":"f0625e93.acf0a8","type":"modbus-response","z":"fe9a85d.dfa5d78","name":"","registerShowMax":20,"x":770,"y":140,"wires":[]},{"id":"c3dc0e8c.2e88e8","type":"ui_chart","z":"fe9a85d.dfa5d78","name":"","group":"103d60ae.a6239f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":420,"wires":[[],[]]}]